.bodystyle {
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
}

.bodystyle::-webkit-scrollbar
{
    display: none;
}

.video
{
    position: fixed;
    width: 150%;
    z-index: 0;
    align-items: center;
}

.button 
{
    font-size: 30px;
    color: white;
    text-align: center;
    position: relative;
    top: 450px;
    bottom: 0;
    left: 800px;
    right: 0;
    height: fit-content;
    margin: 110px;
}