.process {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 110%;
    /* background-color: transparent; */
    }
    /* .process:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    } */
    .visadata:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .visahead{
        text-align: center;
        align-items: center;
        display: block;
    }
    .req {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 110%;
        margin-top: 20px;
        /* background-color: transparent; */
        margin-bottom: 100px;
        }