@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
body
{
    font-family: "Roboto", sans-serif;
    /* background-color: white; */
    /* background-color: antiquewhite; */
}
.container
{
    max-width: 85%;
    margin: auto;
}
.flexSB
{
    display: flex;
    justify-content: space-between;
}
.Social
{
    /* display: inline-block !important; */
    line-height: 40px;
    border-radius: 200%;
    text-align: center;
    background-color: rgb(255, 255 , 255,0.3);
    color: skyblue;
    transition: 0.2s;

}
.Social:hover
{
    cursor: pointer;  
    background-color: black;  
}

a
{
    text-decoration: none;
}

li
{
    text-decoration: none;
}

button
{
    border: none;
}

.row
{
    width: 50%;
}

button
{
    padding: 17px 30px;
    background-color: white;
    color: black;
    font-weight: 600;
    border: none;
    margin: 30px 10px 0 0;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 24px 36px -11px rgba(0, 0, 0, 9%);
}

button i
{
    margin-left: 20px;
}

button:hover
{
    box-shadow: none;
}

.primary-btn
{
    background-color: rgba(0, 116, 217, 1);
    color: white;
}

#heading
{
    text-align: center;
    padding: 40px 0;  
}

#heading h3
{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
}

#heading h2
{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
}

#heading h1
{
    font-size: 30px;
    font-weight: 200;
    margin: 20px 0;
    text-transform: capitalize;
}

p
{
    line-height: 30px;
    font-size: 18px;
}


.back
{
    background-image: url("./images/countbg2.png");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 22%;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    color:white;
    image-rendering: optimizeQuality;
    text-align: left;
}

.back h1
{
    font-size: 80px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 30px;

}

.back h2
{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:left;
    padding-left: 30px;
}

.primary-btn1
{
    background-color: rgba(0, 116, 217, 1);
    color: white;
    margin-left: 2.2%;
}

.map
{
    background-color: black;
    margin-top: 5%;
    width: 100% !important;
}


.loginsection
{
    margin-top: -12%;
    background-image: url("./images/login.jpg");
    background-color: rgba(234,224,223,255);
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
   
}
.loginbody
{
    padding-top: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: -20px 0 50px;

}


.university
{
    background-image:url("./images/universitybg2.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 500vh;
    padding-top: 20%;
    margin-top: -1%;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    color:black;
    image-rendering: optimizeQuality;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.university h1
{
    font-family: "Bebas Neue";
    font-size: 200px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 30px;

}

.university h2
{
    font-family: "Bebas Neue";
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:center;
    padding-left: 30px;
}

.padding
{
    padding: 80px 0;
}

  .shadow {
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 10%);
    background-color: #fff;
  }

.App
{
    scroll-behavior: smooth;
}

.back1
{
    background-image: url("./images/teambg.png");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-top: 22%;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    image-rendering: optimizeQuality;
    text-align: left;
}

.back1 h1
{
    font-size: 80px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 30px;
    color: black;
}

.back1 h2
{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:left;
    padding-left: 30px;
    color: black;
}

.back1 h3
{
   color: black;
}



.searchbg
{
    background-image: url("./images/searchbg.png");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-top: 17%;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    image-rendering: optimizeQuality;
    text-align: center;
    
}


.searchbg h1
{
    font-size: 80px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 30px;
    color: black;
}

.searchbg h2
{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:center;
    padding-left: 30px;
    color: black;
}


.search{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 12% ;
    margin-right: 10%; */
    margin-top: 4%;
    
}

.search button
{
  
    margin-top: 22%;
    display: flex;
    align-items: center;
    justify-self: center;
}

.searchbox
{
    /* margin-top: 15%; */
    /* margin-left: 1.1%; */
    /* padding-left: 10%; */
    /* padding-top: 1.1%; */
    /* padding-bottom: 1.1%; */
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
   border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.box_edit{
  margin-top: 14%;
  padding-bottom: 20px;
}

.editor{
  padding-top: 20px;
}

input:hover
{
    /* padding-top: 1.1%;
    padding-bottom: 1.1%;
    background: rgba( 157, 205, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.btn
{
    /* margin-top: -9%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;

}
 
.btn button
{
    /* margin-top: -9%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
    
}


.react-chatbot-kit-user-chat-message-container {
    display: flex;
    margin: 15px 0;
    justify-content: flex-end;
  }
  
  .react-chatbot-kit-user-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 12.5px;
    background-color: #3d4e8d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-chatbot-kit-user-avatar-icon {
    fill: #fff;
    width: 15px;
    height: 15px;
  }
  
  .react-chatbot-kit-user-chat-message {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #585858;
    font-weight: medium;
    position: relative;
    text-align: left;
  }
  
  .react-chatbot-kit-user-chat-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #f1f1f1;
    position: absolute;
    right: -7px;
    top: 13px;
  }
  
  .react-chatbot-kit-chat-bot-message-container {
    display: flex;
    margin: 15px 0;
    justify-content: flex-start;
  }
  
  .react-chatbot-kit-chat-bot-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 12.5px;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-chatbot-kit-chat-bot-avatar-icon {
    fill: #494646;
    width: 22.5px;
    height: 22.5px;
  }
  
  .react-chatbot-kit-chat-bot-avatar-letter {
    color: #1d1d1d;
    margin: 0;
    padding: 0;
  }
  
  .react-chatbot-kit-chat-bot-message {
    background-color: #2898ec;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    width: 184.5px;
    margin-left: auto;
    text-align: left;
  }
  
  .react-chatbot-kit-chat-bot-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #2898ec;
    position: absolute;
    left: -7px;
    top: 13px;
  }
  
  .react-chatbot-kit-chat-bot-loading-icon-container {
    height: 17px;
    width: 25px;
  }
  
  .chatbot-loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  #chatbot-loader #chatbot-loader-dot1 {
    animation: load 1s infinite;
  }
  
  #chatbot-loader #chatbot-loader-dot2 {
    animation: load 1s infinite;
    animation-delay: 0.2s;
  }
  
  #chatbot-loader #chatbot-loader-dot3 {
    animation: load 1s infinite;
    animation-delay: 0.4s;
  }
  
  @keyframes load {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .react-chatbot-kit-chat-container {
    position: relative;
    width: 295px;
    height: 500px;
    border-radius: 25px;
  }
  
  .react-chatbot-kit-chat-inner-container {
    height: 500px;
    background-color: #fff;
    border-radius: 3px;
    border-radius: 5px;
    border-radius: 25px;
  }
  
  .react-chatbot-kit-chat-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #efefef;
    font-family: Arial;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: #514f4f;
    padding: 12.5px;
    font-weight: bold;
    border-radius: 25px;
  }
  
  .react-chatbot-kit-chat-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    border-radius: 25px;
  }
  
  .react-chatbot-kit-chat-message-container {
    padding: 0 35px 15px 12px;
    overflow: scroll;
    height: 424px;
    border-radius: 25px;
  }
  
  .react-chatbot-kit-chat-input {
    width: 260px;
    margin-left: 1px;
    padding: 12.5px;
    border: none;
    font-size: 0.85rem;
    border-top: 1px solid #d8d8d8;
    border-bottom-left-radius: 5px;
    border-radius: 25px;
   
  }
  
  .react-chatbot-kit-chat-input-form {
    width: 100%;
    height: 10px;
    display: flex !important;
    border-radius: 25px;
  }
  
  .react-chatbot-kit-chat-input::placeholder {
    color: #585858;
  }
  
  .react-chatbot-kit-chat-btn-send {
    background-color: #2898ec;
    width: 0px;
    height: 0%;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px!important; 
    visibility: hidden;


  }
  
  .react-chatbot-kit-chat-btn-send-icon {
    fill: #fff;
    width: 0;
    height: 0;
    margin: 0 auto;
    visibility: hidden;
  }
  
  .react-chatbot-kit-error {
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
  }
  
  .react-chatbot-kit-error-container {
    width: 260px;
  }
  
  .react-chatbot-kit-error-header {
    font-size: 1.3rem;
    color: #1d1d1d;
    margin-bottom: 30px;
  }
  
  .react-chatbot-kit-error-docs {
    display: block;
    margin: 25px auto;
    color: rgb(56, 104, 139);
    padding: 8px;
    border: 1px solid rgb(40, 152, 236);
    width: 130px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
  }




.app-chatbot-container {
    margin: 40px 30px;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 9999;
    box-shadow: 5px 5px 13px rgba(91, 81, 81, 0.4);
    border-radius: 5px;
    background-color: white;
    
  }
  
  .app-chatbot-button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url("./components/common/Chatbot/images/geekyicon.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 130%;
    border: none;
    position: fixed;
    bottom: 15px;
    z-index: 9999;
    right: 40px;
    
  }
 .app-chatbot-button:hover{
    width: 60px;
    height: 60px;
    cursor: pointer;
 }
  .app-chatbot-button-icon {
    width: 0px;
    height: 0px;
    fill: #fff;
  }
.react-chatbot-kit-chat-bot-avatar-letter {
    visibility: hidden;
   
}
.react-chatbot-kit-chat-bot-avatar-container{
    background-image: url('./components/common/Chatbot/images/geekyicon.png');
    background-position: 0%;
    width: 40px;
    height: 40px;
    margin-top: 0%;
    background-repeat: no-repeat;
    background-size: contain;
}
.react-chatbot-kit-chat-btn-send-icon:hover{
width: 20px;
cursor: pointer;
visibility: hidden;
}
  @media (max-width: 600px) {
    .app-chatbot-container {
      transform: scale(0.9) translateY(26px);
    }
  }

span{
  font-size: 15px !important;
}



.collegedetailbg{
  background-image: url("./images/unibg.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding-top: 17%;
  /* padding-left: 30px; */
  /* padding-right: 50px; */
  image-rendering: optimizeQuality;
  text-align: center;
}



.collegedetailbg h1
{
    font-size: 80px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 30px;
    color: white;
}

.collegedetailbg h2
{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:center;
    padding-left: 30px;
    color: white;
}

.details{
  margin-top: 47%;
}
.mono {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
   filter: gray; /* IE6-9 */
   filter: grayscale(100%);
   height: 100vh;
  }

  .aboutusbg{
    
    /* background-size: 1500px; */
    /* position: relative;  */
    /* opacity: 0.5; */
    /* background-color: blue; */
    background-image: url("./components/common/Aboutus/bg.png");
    /* opacity: 0.5; */
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-top: 17%;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    image-rendering: optimizeQuality;
    text-align: center;
    padding-bottom: 100px;
}


.step{
  background-color: rgba(237,222,220,255);
  height: 26vh;
  margin-top: -13%;
}

.steps
{
    background-image: url("https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/KHSR3UCAU4I6ZKEOFKSGGKXWTM.jpg");
    background-color: rgba(237,222,220,255);
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
   
}

.steps h1
{
    font-size: 80px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 30px;
    color: black;
}

.steps h2
{
   padding-top: 40%;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:center;
    padding-left: 30px;
    color: black;
}

.glass
{
  background: rgba( 0, 0, 0, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.trending
{
    background-image: url("https://socialpubli.com/blog/wp-content/uploads/2018/06/como-ser-trending-topic-en-twitter.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding-top: 17%;
  /* padding-left: 30px; */
  /* padding-right: 50px; */
  image-rendering: optimizeQuality;
  text-align: center;
}

.trend
{
  margin-top: 42%;
}

.trending h1
{
    font-size: 80px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 30px;
    color: white;
}

.trending h2
{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:center;
    padding-left: 30px;
    color: white;
}