.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
.links {
margin: 10px;
}
.links :active {
  background-color: gray;
}

.img{
  width: 100%;
  height: 200px;
  border-radius: 20px;
  display: block;
}

.container{
  position: relative;
  float: left;
  width: 300px;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 17px;
  margin-right: 17px;   
}

.overlay {
  position: absolute; 
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1; 
  width: 258px;
  height: 66%;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid black;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}