@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
body
{
    font-family: "Roboto", sans-serif;
    /* background-color: white; */
    /* background-color: antiquewhite; */
}
.container
{
    max-width: 85%;
    margin: auto;
}
.flexSB
{
    display: flex;
    justify-content: space-between;
}
.Social
{
    /* display: inline-block !important; */
    line-height: 40px;
    border-radius: 200%;
    text-align: center;
    background-color: rgb(255, 255 , 255,0.3);
    color: skyblue;
    transition: 0.2s;

}
.Social:hover
{
    cursor: pointer;  
    background-color: black;  
}

a
{
    text-decoration: none;
}

li
{
    text-decoration: none;
}

button
{
    border: none;
}

.row
{
    width: 50%;
}

button
{
    padding: 17px 30px;
    background-color: white;
    color: black;
    font-weight: 600;
    border: none;
    margin: 30px 10px 0 0;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 24px 36px -11px rgba(0, 0, 0, 9%);
}

button i
{
    margin-left: 20px;
}

button:hover
{
    box-shadow: none;
}

.primary-btn
{
    background-color: rgba(0, 116, 217, 1);
    color: white;
}

#heading
{
    text-align: center;
    padding: 40px 0;  
}

#heading h3
{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
}

#heading h2
{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
}

#heading h1
{
    font-size: 30px;
    font-weight: 200;
    margin: 20px 0;
    text-transform: capitalize;
}

p
{
    line-height: 30px;
    font-size: 18px;
}


.back
{
    background-image: url("./images/countbg2.png");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 22%;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    color:white;
    image-rendering: optimizeQuality;
    text-align: left;
}

.back h1
{
    font-size: 80px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 30px;

}

.back h2
{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:left;
    padding-left: 30px;
}

.primary-btn1
{
    background-color: rgba(0, 116, 217, 1);
    color: white;
    margin-left: 2.2%;
}

.map
{
    background-color: black;
    margin-top: 5%;
    width: 100% !important;
}


.loginsection
{
    margin-top: -12%;
    background-image: url("./images/login.jpg");
    background-color: rgba(234,224,223,255);
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
   
}
.loginbody
{
    padding-top: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: -20px 0 50px;

}


.university
{
    background-image:url("./images/universitybg2.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 500vh;
    padding-top: 20%;
    margin-top: -1%;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    color:black;
    image-rendering: optimizeQuality;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.university h1
{
    font-family: "Bebas Neue";
    font-size: 200px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 30px;

}

.university h2
{
    font-family: "Bebas Neue";
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:center;
    padding-left: 30px;
}

.padding
{
    padding: 80px 0;
}

  .shadow {
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 10%);
    background-color: #fff;
  }

.App
{
    scroll-behavior: smooth;
}

.back1
{
    background-image: url("./images/teambg.png");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-top: 22%;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    image-rendering: optimizeQuality;
    text-align: left;
}

.back1 h1
{
    font-size: 80px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 30px;
    color: black;
}

.back1 h2
{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:left;
    padding-left: 30px;
    color: black;
}

.back1 h3
{
   color: black;
}



.searchbg
{
    background-image: url("./images/searchbg.png");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-top: 17%;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    image-rendering: optimizeQuality;
    text-align: center;
    
}


.searchbg h1
{
    font-size: 80px;
    text-transform:capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 30px;
    color: black;
}

.searchbg h2
{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:center;
    padding-left: 30px;
    color: black;
}


.search{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 12% ;
    margin-right: 10%; */
    margin-top: 4%;
    
}

.search button
{
    display: flex;
    align-items: center;
    justify-self: center;
}

.searchbox
{
    padding-top: 1.1%;
    padding-bottom: 1.1%;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input:hover
{
    padding-top: 1.1%;
    padding-bottom: 1.1%;
    background: rgba( 157, 205, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn
{
    margin-top: -9%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;

}
 
.btn button
{
    /* margin-top: -9%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
}
