.bodystyle {
    height: 86vh;
    background-image: url("../images/background/wallpaper.gif");
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-size: 1750px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.bodystyle::-webkit-scrollbar
{
    display: none;
}

.Link
{
    cursor: pointer;
    font-size: 10px;
    color: white;
    text-align: center;
    position:fixed;
    top: 350px;
    bottom: 0px;
    left: 788px;
    right: 0;
    height: fit-content;
    margin: 110px;
}