.Country
{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    overflow: hidden;
    padding-left: 10px;
}

.h1
{
    padding-left: 30px;
    justify-content: center;
    text-decoration: underline;
    font-weight: 500;
    color: #131617;

}
.college.div{
    background-color: white;
}

.app-chatbot-container {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 9999;
    box-shadow: 5px 5px 13px rgba(91, 81, 81, 0.4);
    border-radius: 5px;
  }
  
  .app-chatbot-button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url("../Pages/Chatbot/images/geekyicon.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 130%;
    border: none;
    position: fixed;
    bottom: 15px;
    z-index: 9999;
    right: 40px;
  }
 .app-chatbot-button:hover{
    width: 60px;
    height: 60px;
    cursor: pointer;
 }
  .app-chatbot-button-icon {
    width: 0px;
    height: 0px;
    fill: #fff;
  }
.react-chatbot-kit-chat-bot-avatar-letter {
    visibility: hidden;
   
}
.react-chatbot-kit-chat-bot-avatar-container{
    background-image: url('../Pages/Chatbot/images/geekyicon.png');
    background-position: 0%;
    width: 40px;
    height: 40px;
    margin-top: 0%;
    background-repeat: no-repeat;
    background-size: contain;
}
.react-chatbot-kit-chat-btn-send-icon:hover{
width: 20px;
cursor: pointer;
}
  @media (max-width: 600px) {
    .app-chatbot-container {
      transform: scale(0.9) translateY(26px);
    }
  }
