.Country
{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    overflow: hidden;
    padding-left: 10px;
}

.h1
{
    padding-left: 30px;
    justify-content: center;
    text-decoration: underline;
    font-weight: 500;
    color: #131617;

}
.college.div{
    background-color: white;
}

