.number{
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
    margin-bottom: 0%;
    font-weight: bold;
    font-size: 18px;
}
.indialistitems{
    
    margin: 10px;
    margin-right: 20px;
    margin-left: 25px;
    float: left;
    justify-content: left;
    
    height: 280px;
}
.h3tag{
    margin-top: 3px;
}
.para{
    width: 400px;
    text-align: justify;
}
.indiainfopane{
  
  margin-right: 55%;
}
.h2tag{
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 25px;
    padding-top: 8px;
    margin-bottom: 10px;
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }