.nav
{
    display: flex;
    color: white;
    padding: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 30px;
    background-color: rgba(0, 0, 0, 0.162);
    border-radius: 20px;
    overflow-x: scroll;
}

.nav::-webkit-scrollbar
{
    display: none !important;
}


.nav>h2
{
    color: white;
    cursor: pointer;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
    transition: transform 50ms ease-out;
}
.nav>h2:hover
{
    opacity: 1;
}

.nav>h3
{
    cursor: pointer;
    display: flex;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
    transition: transform 50ms ease-out;
}
.nav>h3:hover
{
    opacity: 1;
}
