.datarec{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 85%; */
}
.pagecount
{
  padding-top: 20px; 
  position: relative;
}
.pagination {
  display: flex;
  justify-content:center;
  align-content: center;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
